body {
  padding: 0;
  margin: 0 auto;
  min-width: 320px;
  font-size: 17px;
  line-height: 30px;
  font-family: "IBMPlexSans", "Arial", sans-serif;
  color: #000000;
  font-style: normal;
  background-color: #ffffff;
  position: relative;
}
img {
  width: 100%;
  height: auto;
}
.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  min-width: 320px;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    position: relative;
  }
}
@media (min-width: 1140px) {
  .container {
    padding: 0;
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
  }
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("../fonts/IBMPlexSansRegular.woff2") format("woff2"), url("../fonts/IBMPlexSansRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("../fonts/IBMPlexSans-Light.woff2") format("woff2"), url("../fonts/IBMPlexSans-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("../fonts/IBMPlexSans-SemiBold.woff2") format("woff2"), url("../fonts/IBMPlexSans-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
.menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.menu--active {
  background: #2C39F2;
  padding-bottom: 180px;
}
.menu__block {
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
}
.menu__logo svg {
  width: 104px;
  height: 24px;
}
.menu__logo svg path {
  fill: #000000;
}
.menu__logo svg path:last-child {
  fill: #ffffff;
}
.menu__logo--active {
  margin-bottom: 107px;
}
.menu__logo--active svg path {
  fill: #ffffff;
}
.menu__logo--active svg path:last-child {
  fill: #000000;
}
.menu__open {
  position: relative;
  background: #ffffff;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 22px;
}
.menu__open::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 4px;
  background-color: #2C39F2;
  -webkit-box-shadow: 0 8px 0 0 #2C39F2, 0 16px 0 0 #2C39F2;
  box-shadow: 0 9px 0 0 #2C39F2, 0 18px 0 0 #2C39F2;
}
.menu__close {
  background: #2C39F2;
  position: relative;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 22px;
}
.menu__close::after,
.menu__close::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: -1px;
  width: 24px;
  height: 4px;
  background-color: #000000;
}
.menu__close::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu__close::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu__logo::after {
  content: "";
  background: url("../img/frontend.svg") no-repeat;
  display: inline-block;
  width: 79px;
  height: 24px;
  margin-left: 7px;
}
.menu__nav {
  position: relative;
}
.menu__lists {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__link {
  width: 53%;
  padding: 0 23%;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 46px;
  color: #FFFFFF;
  text-decoration: none;
}
.menu__link--opacity {
  color: rgba(255, 255, 255, 0.3);
}
.menu__nav--close,
.menu__list:last-child,
.menu__range,
.menu__toggle,
.menu__weather {
  display: none;
}
@media (min-width: 768px) {
  .menu {
    padding: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__block {
    padding: 6px 0 0;
    width: 220px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu__logo {
    height: 27px;
  }
  .menu__logo svg {
    width: 120px;
    height: 27px;
  }
  .menu__list:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .menu__nav,
  .menu__nav--close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .menu__nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .menu__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu--active {
    background: #ffffff;
    padding-bottom: 0;
  }
  .menu__logo--active #i-logo {
    fill: #000000;
  }
  .menu__logo--active #i-logo #i-logo-last {
    fill: #ffffff;
  }
  .menu__close,
  .menu__logo::after,
  .menu__open {
    display: none;
  }
  .menu__link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 35px;
    color: #000000;
    width: 100%;
    height: 84%;
    padding: 5px 10px;
  }
  .menu__link--opacity {
    color: rgba(0, 0, 0, 0.3);
  }
  .menu__logo--active {
    margin-bottom: 0;
  }
  .menu__button {
    width: 150px;
    min-height: 50px;
    background: #2C39F2;
    font-weight: 600;
    font-size: 14px;
    line-height: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .menu__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu__list:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 0;
  }
}
@media (min-width: 1140px) {
  .menu {
    padding: 32px 57px;
  }
  .menu__button {
    width: 190px;
  }
  .menu__link {
    font-size: 18px;
    padding: 0 25px;
  }
  .menu__list:last-child {
    margin-left: 57px;
  }
}
@media (min-width: 1230px) {
  .menu__list {
    margin-top: 5px;
  }
  .menu__label {
    position: relative;
    margin-right: 24px;
  }
  .menu__label::before {
    content: "";
    width: 3px;
    height: 3px;
    display: block;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 13px;
    z-index: 10;
  }
  .menu__label::after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: url("../img/moon.svg") no-repeat;
    position: absolute;
    top: 10px;
    right: 11px;
    z-index: 10;
  }
  .menu__toggle {
    width: 47px;
    height: 25.74px;
    border: 3px solid #000000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 15px;
    padding-left: 3px;
    padding-right: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 25px;
    margin-top: 2px;
  }
  .menu__day,
  .menu__night {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;
    position: relative;
    border: none;
  }
  .menu__day::after {
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .menu__night::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: url("../img/moon.svg") no-repeat;
    position: absolute;
    top: 3px;
    left: 1px;
  }
  .menu__active {
    background-color: #2C39F2;
  }
  .menu__weather {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    margin-top: 5px;
  }
  .menu__weather span {
    font-weight: 300;
  }
  .menu__nav {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .menu__lists {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .night {
    background: #000000;
  }
  .night .menu__toggle {
    border-color: #ffffff;
  }
  .night .menu__toggle .menu__day {
    background-color: #000000;
  }
  .night .menu__toggle .menu__day::after {
    background-image: url("../img/sun.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    border: none;
    top: 2px;
    left: 3px;
  }
  .night .menu__night::after {
    background-image: url("../img/moon-2.svg");
    background-repeat: no-repeat;
    top: 4px;
    left: 5px;
  }
  .night .menu__link {
    color: #ffffff;
  }
  .night .menu__link--opacity {
    color: rgba(255, 255, 255, 0.3);
  }
  .night .menu__weather {
    color: #ffffff;
  }
  .night .menu__logo svg path {
    fill: #ffffff;
  }
  .night .menu__logo svg path:last-child {
    fill: #000000;
  }
}
.about-us {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.about-us__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
  margin-left: 9px;
  margin-right: 16px;
}
.about-us__name svg {
  margin-right: 9px;
  width: 170px;
  height: 191px;
}
.about-us__name svg path:nth-child(even) {
  fill: #ffffff;
}
.about-us__name svg path:nth-child(odd) {
  fill: #000000;
}
.about-us__name svg path:first-child {
  fill: #ffffff;
}
.about-us__name svg path:nth-child(2),
.about-us__name svg path:nth-child(36) {
  fill: #000000;
}
.about-us__name svg path:nth-child(3) {
  fill: #2C39F2;
}
.about-us__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 45px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.9;
  margin-top: 9px;
  width: 281px;
}
.about-us__title span {
  line-height: 46px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.9;
  text-shadow: 2px 0 2px #2c39f2, 0 2px 2px #2c39f2, -2px 0 2px #2c39f2, 0 -2px 2px #2c39f2;
}
.about-us__lists {
  list-style-type: none;
  padding: 0;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 10px;
}
.about-us__list {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #FF1553;
  width: 290px;
  margin-bottom: 20px;
}
.about-us__list span {
  color: #000000;
}
@media (min-width: 532px) {
  .about-us__list {
    width: 250px;
  }
}
@media (min-width: 768px) {
  .about-us__name {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about-us__lists {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
  }
  .about-us__title {
    font-size: 70px;
    line-height: 68px;
    width: 400px;
  }
  .about-us__title span {
    line-height: 68px;
  }
  .about-us__name svg {
    margin-right: 17px;
    width: 190px;
    height: 214px;
  }
  .about-us__list {
    font-size: 40px;
    line-height: 44px;
    width: 350px;
  }
}
@media (min-width: 1024px) {
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
  }
  .about-us__lists,
  .about-us__name {
    margin: 0;
  }
  .about-us__name {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .about-us__lists {
    width: 480px;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-us__list {
    margin-top: 10px;
    margin-bottom: 16px;
  }
}
@media (min-width: 1140px) {
  .about-us {
    padding-top: 37px;
    padding-left: 62px;
    padding-right: 58px;
  }
  .about-us__lists {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .about-us__name svg {
    margin-right: 20px;
  }
}
@media (min-width: 1240px) {
  .about-us__name svg {
    margin-right: 63px;
  }
  .about-us__lists {
    margin-top: 50px;
  }
}
@media (min-width: 1230px) {
  .night {
    background: #000000;
  }
  .night .about-us__name svg path:nth-child(even) {
    fill: #000000;
  }
  .night .about-us__name svg path:nth-child(odd) {
    fill: #ffffff;
  }
  .night .about-us__name svg path:first-child {
    fill: #000000;
  }
  .night .about-us__name svg path:nth-child(2),
  .night .about-us__name svg path:nth-child(36) {
    fill: #ffffff;
  }
  .night .about-us__name svg path:nth-child(3) {
    fill: #2C39F2;
  }
  .night .about-us__title {
    color: #ffffff;
  }
  .night .about-us__title span {
    text-shadow: 2px 0 2px #ffffff, 0 2px 2px #ffffff, -2px 0 2px #ffffff, 0 -2px 2px #ffffff;
    color: #000000;
  }
  .night .about-us__list span {
    color: #ffffff;
  }
}
.advantages {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages__lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages__list,
.advantages__test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}
.advantages__test {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 24px;
}
.advantages__item {
  width: 50px;
  margin-right: 10px;
}
.advantages__item span {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.advantages__text {
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  color: #000000;
  margin-top: 1px;
  width: 77%;
}
.advantages__text br {
  display: none;
}
.advantages__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.advantages__icon::after {
  content: "";
  display: block;
  margin-right: 20px;
  margin-bottom: 6px;
}
.advantages__icon-1::after {
  width: 39px;
  height: 39px;
  background: url("../img/sprites.png") no-repeat left top;
}
.advantages__icon-2::after {
  width: 42px;
  height: 42px;
  background: url("../img/sprites.png") no-repeat -59px top;
}
.advantages__icon-3::after {
  width: 45px;
  height: 39px;
  background: url("../img/sprites.png") no-repeat right top;
}
.advantages__test .advantages__test {
  margin-left: 0;
}
@media (min-width: 600px) {
  .advantages__list,
  .advantages__test {
    width: 284px;
  }
}
@media (min-width: 768px) {
  .advantages__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__item span {
    font-size: 40px;
    line-height: 44px;
    color: #F81B56;
  }
  .advantages__text {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
  }
  .advantages__list,
  .advantages__test {
    width: 350px;
  }
}
@media (min-width: 1140px) {
  .advantages {
    padding-left: 58px;
    padding-right: 63px;
    padding-bottom: 40px;
  }
  .advantages__lists {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 17px;
  }
  .advantages__text br {
    display: inline-block;
  }
  .advantages__icons {
    margin-top: 33px;
  }
}
@media (min-width: 1348px) {
  .advantages__lists {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 17px;
  }
  .advantages__list,
  .advantages__test {
    width: 409px;
    margin-bottom: 41px;
  }
  .advantages__text {
    margin-top: 5px;
    width: 88%;
  }
}
@media (min-width: 1230px) {
  .night .advantages__item span,
  .night .advantages__text {
    color: #ffffff;
  }
}
